.Subtitle{
   padding-bottom: 200px;
   margin-left: 40px;
}

.flex-table-container{
   width: 100%;
   display: flex;
   align-items: center;
}
.colum-left{
   padding-right: 185px;
}

.Reaction{
   padding-left: 20px;
}