:root {
  /* Colors */
  --color-light-red: hsl(0, 100%, 67%);
  --color-orangey-yellow: hsl(39, 100%, 56%);
  --color-green-teal: hsl(166, 100%, 37%);
  --color-cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --gradient-light-slate-blue-bg: hsl(252, 100%, 67%);
  --gradient-light-royal-blue-bg: hsl(241, 81%, 54%);
  --gradient-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --gradient-persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  height: 100vh;
  width: 100vw;
  background-color: #e1e1e1;
  display: grid;
  place-items: center;
}

.main-container {
  width: 60rem;
  height: 39rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.result-container {
  background-color: var(--gradient-light-royal-blue-bg);
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

.score-p {
  color: gray;
}

.circle {
  background-color: var(--gradient-light-royal-blue-bg);
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-pale-blue);
}

.sevensix-p {
  font-size: 5rem;
  font-weight: 800;
  color: white;
}

.hundred-p {
  color: gray;
}
.Table {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 2.9rem;
}

.title-sumary {
  padding-top: 2rem;
  margin-left: 4rem;
}

.list-number {
  font-size: 2.1rem;
  margin-left: 4rem;
}

.Reaction {
  padding-bottom: 3.5rem;
  color: var(--color-light-red);
}

.Memory {
  padding-bottom: 3.5rem;
  color: var(--color-orangey-yellow);
}

.Verbal {
  padding-bottom: 3.5rem;
  color: var(--color-green-teal);
}
.Visual {
  color: var(--color-cobalt-blue);
}

.list-number span {
  color: #a6a6a6;
}

.score-one {
  padding-bottom: 3.5rem;
}

.score-two {
  padding-bottom: 3.5rem;
}

.score-three {
  padding-bottom: 3.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.button-continue {
  width: 18vw;
  height: 6vh;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--color-dark-gray-blue);
  color: var(--color-white);
  border-radius: 25%;
}

.button-continue:hover {
  background-color: var(--gradient-light-slate-blue-bg);
  border: 1px solid var(--gradient-light-slate-blue-bg);
}

@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39rem;
  }
  .title-sumary {
    margin-right: 30rem;
  }
  .list-number {
    font-size: 1.9rem;
  }
  .button-continue {
    width: 80vw;
    height: 6vh;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--color-dark-gray-blue);
    color: var(--color-white);
    border-radius: 23%;
  }
  .button-continue:hover {
    background-color: var(--gradient-light-slate-blue-bg);
    border: 1px solid var(--gradient-light-slate-blue-bg);
  }
}
