@import url(https://fonts.google.com/specimen/Hanken+Grotesk);
*{
   padding: 0;
   margin: 0;
   list-style: none;
}

body{
   font-family:'Hanken Grotesk', sans-serif;
   font-size: 18px;
}

main{
   display: flex;
   padding-left: 15rem;
   padding-top: 30px;
}

.heading-center--gray{
   background-color: rgb(115,83,253);
   color: var(--color-light-lavender);
   padding-top: 25px;
   padding-bottom: 50px;
   font-size: var(--font-weight-regular);
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
}

.background-container{
   text-align: center;
   background-color: rgb(108,79,251);
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
   border-radius: 60px;
   height: 18rem;
   width: 15rem;
}
   
.circle-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.circle{
   width: 100px;
   height: 105px;
   border-radius: 50%;
   text-align: center;
   color: var(--color-white);
   background-color: rgb(83,53,227);
}
.circle h1{
   padding-top: 25px;
}
.circle p{
   color: var(--color-light-lavender);
   font-size: 14px;
}
Article{
   color: var(--color-light-lavender);
   text-align: center;
   padding-top: 30px;
   padding-right: 17px;
   font-size: 15px;
}



.flex-table-container{
   width: 40%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.colum-left{
   padding-right: 185px;
   background-color: var(--color-pale-blue);
}

.Reaction{
   color: #FF6D6B;
   padding-bottom: 13px;
}

.Memory{
   color: var(--color-orangey-yellow);
   padding-bottom: 13px;
}

.Verbal{
   color: var(--color-green-teal);
   padding-bottom: 13px;
}

.Visual{
   color: var(--color-cobalt-blue);
   padding-bottom: 13px;
}

.subtitle-container{
   width: 0rem;
   height: 70%;
}

.subtitle{
   margin-top: 10px;
   margin-left: 10px;
}

